In [3]:
import pandas as pd

In [4]:
pd.__version__

'1.5.3'

In [15]:
df = pd.read_csv('data/yellow_tripdata_2021-01.csv', nrows=100)

In [20]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [23]:
from sqlalchemy import create_engine

In [27]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [29]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [48]:
df_iter= pd.read_csv('data/yellow_tripdata_2021-01.csv', iterator=True, chunksize=100000)

In [33]:
df = next(df_iter)

In [34]:
len(df)

100000

In [38]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [ ]:
df

In [39]:
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

In [43]:
%time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

CPU times: user 3.39 s, sys: 32 ms, total: 3.42 s
Wall time: 6.52 s

1000

In [ ]:
print("inserted first chunk")

In [45]:
from time import time

In [49]:
while True:
    t_start = time()
    df = next(df_iter)
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    
    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')
    t_end = time()
    print('inserted another chunk..., took %.3f seconds' % (t_end - t_start))

inserted another chunk..., took 6.455 seconds
inserted another chunk..., took 6.204 seconds
inserted another chunk..., took 6.983 seconds
inserted another chunk..., took 6.567 seconds
inserted another chunk..., took 6.824 seconds
inserted another chunk..., took 7.620 seconds
inserted another chunk..., took 7.103 seconds
inserted another chunk..., took 7.062 seconds
inserted another chunk..., took 7.427 seconds
inserted another chunk..., took 7.168 seconds
inserted another chunk..., took 7.045 seconds
inserted another chunk..., took 7.114 seconds

/tmp/ipykernel_42324/2938787696.py:3: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted another chunk..., took 7.392 seconds
inserted another chunk..., took 4.326 seconds

StopIteration: